<div class="container">
    <div class="row">
        <h3>Suggested Trips</h3>
    </div>
    <!--Map & Pictures-->
    <div class="row">
        <div class="col">
            <div id="map"></div>

            <iframe id="dealMap"
                        width="600"
                        height="450" 
                        style="border:0" 
                        loading="lazy" 
                        allowfullscreen
                        src="<%= src %>">
                      </iframe>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="<%= image %>" class="card-img-top" alt="...">
              </div>
        </div>
    </div>

    <!--Flight Details-->
    <div class="row">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h3>Flight Details</h3>
                <table class="table">
                    <thead>
                        <th>Origin</th>
                        <th>Dest</th>
                        <th>Departure</th>
                        <th>Return</th>
                        <th>Price</th>
                    </thead>
                <tbody>
                    <% for(var i = 0; i < Math.min(flightData.length,5); i++) { %>
                        <tr>
                                <td id="mapSearch">
                                 <%= flightData[i].origin %> <%= airportNames[i] %>
                                </td>
                                <td>
                                 <%= flightData[i].destination %> 
                                </td>
                                <td>
                                    <%= flightData[i].departureDate %> 
                                </td>
                                <td>
                                    <%= flightData[i].returnDate %> 
                                </td>
                                <td>
                                    $<%= flightData[i].price.total %> 
                                </td>
                                <td>
                                    <a href="#" class="mapButton" value="<%= flightData[i].destination %>" onclick="viewOnMap(this.value);">View on Map</a> 
                                </td>
                        </tr>
                    <% }; %>
                </tbody>
            </table>
    
            </div>
          </div>
    </div>
</div>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8HYuusyZDjNt1yjXABwqpOpalqL94kEk&callback=initMap&v=weekly"
      async
    ></script>
